body {
    background-image: url('../images/blur-bg.jpg');
    font: 15px/16px Roboto,sans-serif;
}
.login-form {

    width: 410px;

    border-radius: 5px;
    background: rgba(0,0,0,.55);
    color: #fff;
    box-shadow: none;

}
.main h1 {
    font-size: 25px;
    color: #fff;
    font: 25px/16px Roboto,sans-serif;
    font-weight: 400;
    padding-top: 22%;
    text-align: center;
}
.copy-right p a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #fff;
}

input[type="text"], input[type="password"] {
    text-align: left;
    position: relative;
    width: 92%;
    padding: 3%;
    background: rgba(0,0,0,.4);
    margin-bottom: 6%;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 1px solid #DED6D6;
    -webkit-appearance: none;
}
input[type="submit"] {
    width: 99%;
    padding: 3%;
    margin-bottom: 8%;
    background: #239387;
    font-family: 'Open Sans', sans-serif;
    color: #ECECEC;
}
input[type="submit"]:hover {
    width: 99%;
    padding: 3%;
    margin-bottom: 8%;
    background: rgba(35, 147, 135, 0.11);
    font-family: 'Open Sans', sans-serif;
    color: #ECECEC;
}
.main form p a:hover {
    color: #239387;
    font-family: 'Open Sans', sans-serif;
}